body {
    font-family: Verdana, Helvetica, sans-serif;
    background-color: lightblue;
}

#file {
    margin: 10px;
}

.fileButton {
    padding: 5px;
}

.itemButton {
    padding: 5px;
}

.divider {
    background-color: #33393c;
    height: 5px;
    width: 100%;
}

.section {
    border: 2px solid #33393c;
    padding: 10px;
    margin: 10px;
}

#itemsTable {
    border: 1px solid #33393c;
    margin-top: 10px;
}

#detailsTable td {
    padding: 5px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
}

.selected {
    background-color: white;
}

